<?xml version='1.0' encoding='utf-8'?>
<robot name="converted_robot"><link name="unknown" /><link name="unknown" /><link name="unknown" /><link name="empty_warehouse"><visual><geometry><box size="1.0 1.0 1.0" /></geometry><material name="WhitePaint_A"><color>0.5 0.5 0.5 1.0</color></material></visual><visual><geometry><box size="1.0 1.0 1.0" /></geometry><material name="WhitePaint_B"><color>0.5 0.5 0.5 1.0</color></material></visual></link><link name="base_link"><visual><geometry><box size="1.0 1.0 1.0" /></geometry></visual><visual><geometry><box size="1.0 1.0 1.0" /></geometry></visual></link></robot>